# App
PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=host.docker.internal
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=senha123
DB_NAME=shortened-url

# Outras configs (opcional)
LOG_LEVEL=debug
